<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @eruption.Year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @eruption.Month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @eruption.Day %>
</p>

<p>
  <strong>Tsu:</strong>
  <%= @eruption.Tsu %>
</p>

<p>
  <strong>Eq:</strong>
  <%= @eruption.Eq %>
</p>
<p>
  <strong>Volcano:</strong>
  <%= link_to @eruption.uniq_volcano.Name, @eruption.uniq_volcano %>
</p>
<%= link_to 'Back', eruptions_path, class: "w3-button w3-black w3-hover-blue" %>
