<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @eruption.Year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @eruption.Month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @eruption.Day %>
</p>

<p>
  <strong>Tsu:</strong>
  <%= @eruption.Tsu %>
</p>

<p>
  <strong>Eq:</strong>
  <%= @eruption.Eq %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @eruption.deaths %>
</p>

<%= link_to 'Edit', edit_eruption_path(@eruption) %> |
<%= link_to 'Back', eruptions_path %>
