<div class="sidebar">
<% if @cart %>
<%= render @cart %>
<div class="actions">
<%= button_to 'Empty cart', @cart, method: :delete,
    data: { confirm: 'Are you sure?' } %>
<%= button_to 'Checkout', new_order_path, method: :get, class: "checkout"%>
</div>
<% end %>
</div>
<div class="volcanowrap">
<p id="notice"><%= notice %></p>
<h1>Uniq Volcanos</h1>
<table id="catalog" class="w3-table w3-striped" style="margin-right:25%;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th>Type</th>
      <th>Status</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uniq_volcanos.each do |uniq_volcano| %>
      <tr>
        <td><%= link_to uniq_volcano.Name, uniq_volcano %></td>
        <td><%= uniq_volcano.Country %></td>
        <td><%= uniq_volcano.Latitude %></td>
        <td><%= uniq_volcano.Longitude %></td>
        <td><%= uniq_volcano.Elevation %></td>
        <td><%= uniq_volcano.Type %></td>
        <td><%= uniq_volcano.Status %></td>
        <td><%= uniq_volcano.Price / 1000 %>k$</td>
        <td><%= button_to 'Add to Cart', line_items_path(uniq_volcano_id: uniq_volcano), remote: true %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Uniq Volcano', new_uniq_volcano_path %>
</div>